<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/mvc
				http://www.springframework.org/schema/mvc/spring-mvc.xsd">
				
		<!-- @Controller 어노테이션을 사용하여 컨트롤러를 이용하기 위한 설정 -->		
		<mvc:annotation-driven />
		
		<!-- DispatcherServlet의 매핑경로를 /(디폴트) 설정 시 웹 소스를 처리하기 위한 설정 -->
		<mvc:default-servlet-handler />
		
		<mvc:view-resolvers>
			<!-- jsp를 이용하여 실행 결과를 보여주기 위한 설정 HelloController의 hello메소드 반환값(jsp파일 이름) 앞에 붙는 경로이다. -->
			<mvc:jsp prefix="/WEB-INF/view/" />
			<mvc:jsp suffix=".jsp"/>
		</mvc:view-resolvers>

</beans>